#root{
    // colors
    --color-pink: #FF7979;
    --color-green: #38CC8B;
    --color-blue: #5E54A4;
    --color-black: #3D3B48;

    // text
    --h1-size-sm: 2.8rem;
    --h1-line-sm: 3.6rem;
    --h1-spacing-sm: -0.029rem;

    --body-size-sm: 1.6rem;
    --body-line-sm: 2.6rem;

    --banner-text-size: 1.5rem;
    --banner-text-line: 2.6rem;
    --banner-text-spacing: 0.027rem;

    --form-text-size: 1.4rem;
    --form-text-line: 2.6rem;
    --form-text-spacing: 0.025rem;

    --form-btn-text-size: 1.5rem;
    --form-btn-text-line: 2.6rem;
    --form-btn-text-spacing: .1rem;

    
}