$bg: 1440px;

.sign-up-form{
    min-height: 100vh;

    // background images
    background-image: url("../images/bg-intro-mobile.png");
    background-repeat: no-repeat;
    background-size: cover;
    background-color: var(--color-pink);
    @media(min-width: $bg){
        background-image: url("../images/bg-intro-desktop.png");
    }

    // general text default
    color: white;
    text-align: center;

    &__heading{
        font-size: var(--h1-size-sm);
        line-height: var(--h1-line-sm);
        letter-spacing: var(--h1-spacing-sm);

        margin-bottom: 1.6rem;
        @media(min-width: $bg){
            font-size: var(--h1-size-bg);
            line-height: var(--h1-line-bg);
            letter-spacing: var(--h1-spacing-bg);
            margin-bottom: 2.5rem;
        }
    }

    &__body{
        font-size: var(--body-size);
        line-height: var(--body-line);
    }
    &__banner{
        font-size: var(--banner-text-size);
        line-height: var(--banner-text-line);
        letter-spacing: var(--banner-text-spacing);
        
        background-color: var(--color-blue);
        padding: 1.8rem 6.6rem;

        // space between banner and form
        margin-bottom: 2.4rem;

        @media(min-width: $bg){
            padding: 1.8rem 11rem;
        }
    }

    &__form{
        padding: 2.4rem;
        background-color: white;

        &-input{
            // form inputs text styles
            font-size: var(--form-text-size);
            line-height: var(--form-text-line);
            letter-spacing: var(--form-text-spacing);

            // add spacing between form inputs
            margin-bottom: 1.6rem;

            // custom border
            border: solid #DEDEDE .1rem;
            border-radius: .5rem;

            // space out place holder text
            padding: 1.5rem 0 1.5rem 1.941rem;

            // stretch input
            width: 100%;
           
        }
    }

    &__btn{
        background-color: var(--color-green);
        width: 100%;
        padding: 1.5rem 0;
        border: none;
        border-radius: .5rem;
        
        // inner shadow
        box-shadow: inset 0 -0.4rem 0 rgb(0, 0, 0, .0909);
        
        // text 
        color: white;
        font-size: var(--form-btn-text-size);
        line-height: var(--form-btn-text-line);
        letter-spacing: var(--form-btn-text-spacing);
    }
}