$bg: 1440px;

.sign-up-form{
    min-height: 100vh;
    padding: 8.8rem 2.4rem 6.8rem 2.4rem;
    // background images
    background-image: url("../images/bg-intro-mobile.png");
    background-repeat: no-repeat;
    background-size: cover;
    background-color: var(--color-orange);
    
    // general text default
    color: white;
    text-align: center;

    // layout
    display: grid;
    row-gap: 6.4rem;

    @media(min-width: $bg){
        background-image: url("../images/bg-intro-desktop.png");
        row-gap: 0;

        // layout
        grid-template: 
            "call-to-action listing" max-content
            / 52.5rem 54rem
        ;
        justify-content: center;
        align-content: center;
        column-gap: 4.5rem;

        
    }
    &__call-to-action{
        align-self: center;

        @media(min-width: $bg){
            // text
            text-align: start;
        }
    }
    &__heading{
        font-size: var(--h1-size-sm);
        line-height: var(--h1-line-sm);
        letter-spacing: var(--h1-spacing-sm);
        font-weight: bold;

        margin-bottom: 1.6rem;
        @media(min-width: $bg){
            font-size: var(--h1-size-bg);
            line-height: var(--h1-line-bg);
            letter-spacing: var(--h1-spacing-bg);
            margin-bottom: 2.5rem;
        }
    }

    &__body{
        font-size: var(--body-size);
        line-height: var(--body-line);
    }
    &__banner{
        background-color: var(--color-blue);
        padding: 1.8rem 6.6rem;
        border-radius: 1rem;
        box-shadow: 0 .8rem 0 rgb(0, 0, 0, .1469);

        // text style
        font-size: var(--banner-text-size);
        line-height: var(--banner-text-line);
        letter-spacing: var(--banner-text-spacing);

        // space between banner and form
        margin-bottom: 2.4rem;

        @media(min-width: $bg){
            padding: 1.8rem 11rem;
        }
        &--bold{
            font-weight: bold;
        }
    }

    &__form{
        padding: 2.4rem;
        background-color: white;
        box-shadow: 0 .8rem 0 rgb(0, 0, 0, .1469);
        border-radius: 1rem;
        &-input{
            &-container{
                // add spacing between form inputs
                margin-bottom: 1.6rem;

                // layout
                display: grid;
                grid-template: 
                    "input" 1fr
                    / 1fr
                ;
                row-gap: .6rem;
            }

            // layout
            grid-area: input;

            // text
            font-size: var(--form-text-size);
            line-height: var(--form-text-line);
            letter-spacing: var(--form-text-spacing);
            font-weight: 600;

            // custom border
            border: solid #DEDEDE .1rem;
            border-radius: .5rem;

            // space out place holder text
            padding: 1.5rem 0 1.5rem 1.941rem;

            // stretch input
            width: 100%;
            &--error{
                border: solid var(--color-orange) .2rem;
            }
        }
        &-error-icon{
            grid-area: input;
            align-self: center;
            justify-self: end;
            margin-right: .7rem;
        }
        &-error-message{
            color: var(--color-orange);
            font-size: 1.1rem;
            text-align: right;
            font-weight: 500;
        }
    }

    &__btn{
        background-color: var(--color-green);
        width: 100%;
        padding: 1.5rem 0;
        border: none;
        border-radius: .5rem;
        cursor: pointer;
        
        // inner shadow
        box-shadow: inset 0 -0.4rem 0 rgb(0, 0, 0, .0909);
        
        // text 
        color: white;
        font-size: var(--form-btn-text-size);
        line-height: var(--form-btn-text-line);
        letter-spacing: var(--form-btn-text-spacing);
        font-weight: 600;
    }
    &__terms{
        padding-top: .8rem;
        color: #BAB7D4;

        // text
        font-size: var(--form-terms-text-size);
        line-height: var(--form-terms-text-line);
        font-weight: 500;

        &--link{
            color: var(--color-orange);
            margin-bottom: .8rem;
            text-decoration: none;
            font-weight: bold;
        }
    }
}